body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ffc0cb, #ff69b4);
    color: black;
    text-align: center;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ffe4ec;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: black
}

/* Hero Section */
.hero {
    padding: 120px 20px;
}

.hero h1 {
    font-size: 3em;
}
''
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: transparent;
    color: #ff1493;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #ffe4ec;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 40px;
}

.gallery img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255,255,255,0.6);
    transition: transform 0.4s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Letter */
.letter {
    background: rgba(255, 255, 255, 0.2);
    margin: 40px auto;
    padding: 30px;
    width: 80%;
    max-width: 800px;
    border-radius: 20px;
    line-height: 1.8em;
    backdrop-filter: blur(10px);
}

/* Titles */
.page-title {
    margin-top: 40px;
    font-size: 2.5em;
}

/* Footer */
footer {
    margin: 40px 0;
    font-size: 1em;
}


